# Pin Assignments to match PCB netlist
PIN "ba"	   LOC = P1 ;
PIN "bs"           LOC = P2 ;
PIN "qclk"         LOC = P3 ;
PIN "irq_b"        LOC = P4 ;
PIN "hsclk"	   LOC = P5 ; # GCK1
PIN "auxclk"	   LOC = P6 ; # GCK2
PIN "eclk"	   LOC = P7 ; # GCK3
PIN "firq_b"	   LOC = P8 ;
PIN "nmi_b"	   LOC = P9 ;
PIN "a[5]"        LOC = P11 ;
PIN "a[6]"        LOC = P12 ;
PIN "a[7]"        LOC = P13 ;
PIN "a[8]"	   LOC = P14 ;
PIN "a[9]"        LOC = P18 ;
PIN "a[10]"	   LOC = P19 ;
PIN "a[11]"	   LOC = P20 ;
PIN "breq_b"       LOC = P22 ;
PIN "a[12]"    	   LOC = P24 ;
PIN "rnw"    	   LOC = P25 ;
PIN "a[13]"	   LOC = P26 ;
PIN "a[14]"	   LOC = P27 ;
PIN "sys_q_auxclk" LOC = P28 ;
PIN "sys_a8"	   LOC = P29 ;
PIN "a[15]"        LOC = P33 ;
PIN "busack_b"	   LOC = P34 ;
PIN "csio_b"	   LOC = P35 ;
PIN "csuart_b"	   LOC = P36 ;
PIN "sys_eclk"     LOC = P37 ;
PIN "iack_b"       LOC = P38 ;
PIN "cpc_busrst_b" LOC = P39 ; # GSR
PIN "rst_b"        LOC = P40 ; # GTS2
PIN "sw_rst_b"     LOC = P42 ; # GTS1
PIN "dip[0]"       LOC = P43 ;        
PIN "dip[1]"	   LOC = P44 ;
