# pin assignments to match pcb

## -- unused -- pin "pi_gpio_21"	loc = pin1
## -- unused -- pin "pi_gpio_20"	loc = pin2
## -- unused -- pin "pi_gpio_26"	loc = pin3
## -- unused -- pin "pi_gpio_16"	loc = pin4
## -- unused -- pin "pi_gpio_19"	loc = pin5
## -- unused -- pin "pi_gpio_13"	loc = pin6
## -- unused -- pin "pi_gpio_12"	loc = pin7;
## pin "vss"       	loc = pin8;  # gnd1
pin "clk"       	loc = pin9;  # gck1
## -- unused -- pin "pi_gpio_06"	loc = pin10; # gck2
## -- unused -- pin "pi_gpio_05"	loc = pin11;
pin "tube_phi2"	        loc = pin12; # pi_gpio_07 
pin "tube_data[0]"	loc = pin13; # pi_gpio_08
pin "tube_data[3]"	loc = pin14; # pi_gpio_11
pin "tube_data[7]"	loc = pin15; # pi_gpio_25
## pin "vss"	        loc = pin16; # gnd2
pin "tube_data[1]"	loc = pin17; # pi_gpio_09
pin "tube_data[2]"	loc = pin18; # pi_gpio_10
pin "tube_data[6]"	loc = pin19; # pi_gpio_24
pin "tube_data[5]"	loc = pin20; # pi_gpio_23
pin "tube_data[4]"	loc = pin21; # pi_gpio_22
## pin "vdd_io"	        loc = pin22; # vccio1
pin "tube_adr[0]"	loc = pin23; # pi_gpio_27 (pi_gpio_21 on early models)
pin "tube_rnw_b"	loc = pin24; # pi_gpio_18
pin "tube_cs_b"	        loc = pin25; # pi_gpio_17
pin "pi_gpio_15"	loc = pin26; # pi_gpio_15 (not connected on pitubedirect)
## pin "vss"	        loc = pin27; # gnd3
## pin "tdi"		loc = pin28; # tdi
## pin "tms"		loc = pin29; # tms    
## pin "tck"		loc = pin30; # tck
pin "pi_gpio_14"	loc = pin31;
pin "tube_rst_b"	loc = pin32; # "pi_gpio_04"
pin "tube_adr[2]"	loc = pin33; # pi_gpio_03 (pi_gpio_1 on early models)
pin "tube_adr[1]"	loc = pin34; # pi_gpio_02 (pi_gpio_0 on early models)
pin "pmod_gpio[7]"       loc = pin35; # 
pin "pmod_gpio[6]"	loc = pin36;
pin "pmod_gpio[5]"	loc = pin37;
## pin "vdd"	        loc = pin38; # vccint1
pin "pmod_gpio[4]"	loc = pin39;
pin "pmod_gpio[3]"	loc = pin40;
pin "pmod_gpio[2]"	loc = pin41;
## pin "vss"	        loc = pin42; # gnd4
pin "pmod_gpio[1]"	loc = pin43;
pin "pmod_gpio[0]"	loc = pin44;
pin "adr[15]"       	loc = pin45;
pin "adr[14]"       	loc = pin46;
pin "adr[13]"       	loc = pin47;
pin "adr[12]"       	loc = pin48;
## pin "vss"		loc = pin49; # gnd5
pin "adr[11]"		loc = pin50;
pin "adr[10]"		loc = pin51;
pin "adr[9]" 		loc = pin52;
pin "adr[8]" 		loc = pin53;
pin "adr[7]" 		loc = pin54;
pin "adr[6]" 		loc = pin55;
pin "adr[5]" 		loc = pin56;
pin "adr[4]" 		loc = pin57;
pin "adr[3]" 		loc = pin58;
## pin "tdo"		loc = pin59; # tdo
## pin "vss"		loc = pin60; # gnd6
pin "adr[2]"		loc = pin61;
pin "adr[1]"		loc = pin62;
pin "adr[0]"		loc = pin63;
## pin "vdd_io"		loc = pin64; # vccio2
pin "data[7]"		loc = pin65; 
pin "data[6]"		loc = pin66; 
pin "data[5]"		loc = pin67; 
pin "data[4]"		loc = pin68; 
pin "data[3]"		loc = pin69; 
pin "data[2]"		loc = pin70; 
pin "data[1]"		loc = pin71; 
pin "data[0]"		loc = pin72; 
## pin "vdd"		loc = pin73; # vccint2
pin "reset_b"		loc = pin74; # gsr
pin "mreq_b"		loc = pin75;
pin "ioreq_b"		loc = pin76; # gts1
pin "rd_b"   		loc = pin77; # gts2
## pin "vdd"		loc = pin78; # vccint3
pin "wr_b"    		loc = pin79;
## pin "int_b"   		loc = pin80;
## pin "busrq_b" 		loc = pin81;
## pin "busack_b"		loc = pin82;
## pin "ready"   		loc = pin83;
## pin "m1_b"     		loc = pin84;